DB_HOST=127.0.0.1
DB_PORT=3322
DB_USER=root
DB_PASSWORD=password
DB_NAME=laravel
PORT=4000

# Frontend đọc biến này để biết gọi API ở đâu (Vite yêu cầu prefix VITE_)
VITE_API_URL=http://localhost:4000
